@{
    Layout = "~/Views/Shared/MasterTemplate.cshtml";
    @model CustomerBankApplication.Models.LoginPageVM
}

<div class="container"  style="margin-top: 150px">
    <div class="row col-md-6 col-md-offset-3">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h1>Login</h1>
            </div>
            <div class="panel-body">
                @using (Html.BeginForm())
                {
                    <div class="form-group">
                        @Html.LabelFor(m => m.Name)
                        @Html.TextBoxFor(m => m.Name, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.Password)
                        @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                    </div>
                    <div>
                        <input type="submit" value="Submit" class="btn btn-primary" />
                        <input type="submit" name="Submit" class ="btn btn-primary" value="Register" formmethod="post" formaction="Register"/>
                    </div>
                }
                @Html.ValidationSummary(true, "Wrong username or password", new { @class = "text-danger" })
            </div>
        </div>
    </div>
</div>

